header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 5px 
}

header img {
  width: 50px;
}

header h1 {
  font-weight: 400;
  margin: 0;
}
