header {
    display: flex;
    padding: 30px;
    background: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);;
}

.header-img {
    margin-right: 10px;
}

.header-text {
    font-weight: 400;
}
